.home-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #083b08;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.home-button:hover {
  background-color: #105210;
}
